@model AtualizarPartialViewComAjax.Models.ModelData

<div>
    <h4>ModelData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Agora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agora)
        </dd>

    </dl>
</div>

